.file{
  //position: absolute;
  display: inline-block;
  width: 96px;
  height: 34px;
  input[type=file]{
    position: absolute;
    cursor: pointer;
    width: 96px;
    height: 34px;
    opacity: 0;
    //bottom: 0;
    //left: 0;
  }
}
.fileForm{
  display: inline-block;
  height: 21px;
  width: auto !important;
}
.red{
  color: red;
}
.form-element-info{
  padding-top: 10px;
  line-height: 16px;
}
.require{
  &::before{
    content: "*";
    color: red;
  }
}