html,body{
  width:100%;
  height:100%;
}

.login-body{
  width:100%;
  height:100%;
  position:relative;
  #particles{
    width:100%;
    height:100%;
    background-color: #0d0f10;
  }
  .qishonLogin__header{
    position:absolute;
    top:0;
    width:100%;
    height:50px;
    border-bottom:1px solid #717171;
    h1{
      color:#eee;
      font-size:20px;
      line-height:50px;
      padding: 0 20px;
    }
  }

  .qishonLogin{
    .form-horizontal {
      position: absolute;
      top: 25%;
      right: 5%;
      width:400px;
      height:400px;
      background: rgba(255,255,255,0.3);
      color:#eee;
      padding-bottom: 80px;
      text-align: center;
      .heading {
        text-align: left;
        display: block;
        font-size: 24px;
        font-weight: 300;
        padding:48px 36px 48px;
      }
      .login-form-group {
        padding: 0 40px;
        margin: 0 0 25px 0;
        position: relative;
        .login-form-control{
          background: #f0f0f0;
          border: none;
          box-shadow: none;
          text-indent: 2.5em;
          width: 100%;
          height: 40px;
        }
        i{
          position: absolute;
          top: 10px;
          left: 60px;
          font-size: 17px;
          color: #c8c8c8;
        }
        a{
          display: inline-block;
          position: absolute;
          top: 6px;
          right: 60px;
          font-size: 20px;
          color: #808080;
          text-decoration: none;
        }
      }
      .login-btn{
        text-align: center;
        .login-submit{
          width: 100%;
          font-size: 14px;
          color: #fff;
          background: #00b4ef;
          padding: 10px 25px;
          border: none;
          text-transform: capitalize;
        }
      }
      .reset-register{
        a{
          font-size:13px;
          color: rgba(222, 222, 222, 0.59);
        }
      }
    }
  }

}