/*
*   create by xiaofeng.yao
*   time 2017.06.15
*   component 内容主界面布局容器样式
*/
body{
    color: #4F5357;
    font-family: Helvetica, "Helvetica Neue", Tahoma, Arial, "Microsoft YaHei", "PingFang SC";
    font-size: 12px;
    line-height: 1.28571;
    overflow-y: hidden;
}
.section{
    float:right;
    width:100%;
    //height: 600px;
    overflow-y: scroll;
    .content{
        margin-left:380px;
        transition:0.7s;
        position:relative;
        z-index:1;
        .body-title{
            font-size: 14px;
            width: 30%;
            height: 40px;
            position: relative;
            float: left;
            padding-top: 15px;
            &::before{
                position: absolute;
                content: "";
                height: 15px;
                width: 2px;
                background-color: #42485B;
            }
            span{
                margin-left: 10px;
            }
        }
        .body-title-full{
            font-size: 14px;
            width: 100%;
            height: 40px;
            position: relative;
            padding-top: 15px;
        }
        .toolbars{
            display: inline-block;
            width: auto;
            float: right;
            padding: 3px;
            form{
                display: inline-block;
                float: right;
                width: 200px;
            }
            .right-button{
                float: right;
                margin: 0 3px;
            }
        }
        .panel-top-title{
            width: 100%;
            height: 50px;
            .img{
                width: 50px;
                height: 50px;
                background: url("../images/logo.png") no-repeat;
                background-size: cover;
                float: left;
            }
            h3{
                float: left;
                margin-left: 10px;
                line-height: 10px;
            }
        }
    }
}