.TableListComponent{
    .table{
        text-align: center;
        border:1px solid #eee;
        thead{
            background: #42485B;
            color:#fff;
            tr{
                th{
                    text-align: center;
                    label{
                        margin:0;
                    }
                    &:last-child{
                        text-align: right;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    label{
                        i{
                            margin-right:4px;
                        }
                        .icon-wenjianjia{
                            color:darkorange;
                        }
                        .icon-shangchuan{
                            color:cornflowerblue;
                        }
                    }
                    .table_operation{
                        margin-right:10px;
                        cursor: pointer;
                    }
                    &:last-child{
                        text-align: right;
                    }
                }
            }
        }
    }
    .table__alldiv{
        margin-top: 8px;
        color:#777;
    }
    .table__all{
        margin-right: 2px;
    }
    .qishon_Pagination{
        vertical-align: middle;
        margin:0;
        li{
            a{
                cursor:pointer;
                border:none;
                color:#777;
                &:hover{
                    color:#999;
                }
            }
        }
    }
}